<section class="min-h-screen flex flex-col items-center justify-center">
  <div class="flex flex-row items-center gap-1">
    <img src="/img/logo.png" alt="Marie-Gaëtane Comte logo" class="w-40 h-auto  ">
  </div>
  <ul class="flex flex-col items-center gap-4 pb-6">
      {{ range .Site.Menus.main }}
        <li>
          <a class="btn-menu" href="{{ .URL }}">
            <h2 class=" text-white drop-shadow-lg" >{{ .Name }}</h2>
          </a>
          {{ if .HasChildren }}
            <ul class="flex flex-col items-center gap-2 mt-2">
              {{ range .Children }}
                <li><a class="btn-menu" href="{{ .URL }}">{{ .Name }}</a></li>
              {{ end }}
            </ul>
          {{ end }}
        </li>
      {{ end }}
  </ul>
  <button id="menu-close" class="p-3 rounded-lg transition-colors " aria-label="Close menu">
    <span class="material-symbols-outlined icon-lg text-white drop-shadow-lg">close</span>
  </button>
</section>