{{/* 
  Netlify Identity Widget
  =======================
  Nécessaire pour Decap CMS avec authentification Netlify Identity
  À inclure juste avant </body> dans baseof.html
*/}}
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>