{{ define "main" }}
  {{/* Get all sections, sorted by weight */}} 
  {{ $sections := site.GetPage "home-sections" }} 
  {{ with $sections }} 
    {{ range .Pages.ByWeight }} 
      {{ $sectionType := .Params.section | default "default" }} 
      {{/* Skip latest-podcasts if podcast is disabled */}}
      {{ if or (ne $sectionType "latest-podcasts") site.Params.homeSection.enableLatestPodcast }}
        {{/* Render the appropriate partial for each section type */}} 
        {{ partial (printf "home-sections/%s.html" $sectionType) . }}
      {{ end }}
    {{ end }} 
  {{ end }} 
{{ end }}