<section class="about relative overflow-x-clip bg-primary p-3">
  {{/* Background decoratif */}}
<div class="absolute top-0 right-0 w-1/2 h-full bg-accent opacity-30 -skew-x-12 translate-x-1/4 hidden lg:block"></div>

<div class="container mx-auto px-4 py-16 md:py-24 relative z-10">

  <div class="container mx-auto px-4">
    <div class="flex justify-center items-center">
      <div class="gap-4 pb-5 ">
        {{ with .Params.image }}
          <div class="">
            <div class=" place-items-center pb-5 animate-on-scroll-fade-up">
              <img src="{{ . }}" class="rounded-lg shadow-lg -rotate-10 ">
          </div>
        {{ end }}
        <h2 class="text-center text-text-primary animate-on-scroll-fade-up">
          {{ .Title }}
        </h2>
      </div>
      <div>
        <div class="text-text-secondary">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
  <div class=" max-w-2xl mx-auto ">
    {{ partial "social.html" . }}
  </div>
</section>