<section class="about bg-primary">
  <div class="container mx-auto px-4">
    <div class="flex justify-center items-center">
      <div class="gap-4 pb-5 ">
        {{ with .Params.image }}
          <div class="">
            <div class=" place-items-center pb-5 animate-on-scroll-fade-up">
              <img src="{{ . }}" class="rounded-lg shadow-lg -rotate-10 ">
          </div>
        {{ end }}
        <h2 class="text-center text-text-primary animate-on-scroll-fade-up">
          {{ .Title }}
        </h2>
      </div>
      <div>
        <div class="text-text-secondary">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</section>
