<section class="features bg-secondary py-20 ">
  <div class="container mx-auto px-4">
    <h2 class="font-bold text-text-primary text-center mb-4">
      {{ .Title }}
    </h2>
    <h5 class="text-text-secondary text-center text-2xl mb-12">
      {{ .Content | plainify }}
    </h5>
    
    {{ with .Params.features }}
    <div class="grid md:grid-cols-3 gap-8">
      {{ range . }}
        <div class="bg-primary p-4 border-accent-primary border rounded-lg shadow-themed flex flex-col">
          
          <div class="flex flex-col  flex-grow">
            {{ with .icon }}
              <div class="text-3xl ">
                <span class="material-symbols-outlined icon-accent">{{ . }}</span>
              </div>
            {{ end }}
            
            <h3 class="font-semibold text-text-primary mb-2">
              {{ .title }}
            </h3>
            
            <p class="text-text-primary prose max-w-none">
              {{ .description }}
            </p>
    
            {{ with .list }}
              <ul class="text-text-primary py-2">
                {{ range . }}
                  <li class="list-icon">{{ . }}</li>
                {{ end }}
              </ul>
            {{ end }}
    
            {{ with .description02 }}
              <p class="text-text-primary">
                {{ . }}
              </p>
            {{ end }}
          </div>
    
          <div class="mt-2"> <a href="{{ .button_url | relURL }}" class="inline-block btn-primary px-8 py-3 rounded-lg font-semibold transition-colors shadow-xl animate-on-scroll-scale w-full text-center">
              En savoir plus
            </a>
          </div>
        </div>
      {{ end }}
    </div>
    {{ end }}
  </div>
</section>
